<div class = "main posts-show">
    <div class = "container">
        <div class = "posts-item">
            <p>
                <%= @sweet.name %>
            </p>
            <p>
                <%= @sweet.price %>
            </p>
            <p>
                <%= @sweet.genre %>
            </p>
           
            <div class = "post-time">
                <%= @sweet.created_at %>
            </div>
            <div class = "post-menus">
                <%= link_to("編集", "/sweet/#{@sweet.id}/edit") %>
                <%= link_to("削除", "/sweet/#{@sweet.id}/destroy", {method: "sweet"}) %>
            </div>
        </div>
    </div>
</div>